
*{ box-sizing: border-box; }

body{ 
    margin: 2rem

}


.img-left {
    float:left;
    margin-right: 3ch; 

} 

main{

    background-color:rgb(228, 254, 255);
    max-width: 73ch;
    border: 1px solid #777;
    padding: 3ch;
    margin:0 auto
        
}


h1 {
    margin-bottom: .4rem;
    text-align: center;
    font-family: Tajawal, Arial, Helvetica, sans-serif
}


p {
    line-height: 1.6;
}

figure {
    float:left

}

figcaption {
text-align: center;
}

footer{
    margin-bottom:1rem;
    background-color: rgb(182, 220, 245);
}

nav{
    text-align: center;
    margin-left: 3ch;
    margin-right:3ch;
    word-spacing:4ch;  
}

button {
    background-color: rgb(226, 255, 253);
    border-color: rgb(187, 212, 220);
}

:hover {
    background-color: rgb(207, 199, 251);
}

a{
   text-decoration: none; 
   color:black

}
