*{ box-sizing: border-box; }
body{ 
    margin: 2rem
}


.img-left {
    float:left;
    margin-right: 3ch; 

} 

main{

    background-color:rgb(228, 254, 255);
    max-width: 73ch;
    border: 1px solid #777;
    padding: 3ch;
    margin:0 auto
        
}


h1 {
    margin-bottom: .4rem;
    text-align: center;
}

p {
    line-height: 1.6;
    

}

figure {
    float:left

}

figcaption {
text-align: center;
}


